{% extends 'base.html' %}

{% block content %}

<div class="full_content">
    <div class="navbar">
        <p class="main_titel">Open Gis</p>
    </div>


    <div class="main_content">

        <div class="left_content">

            <h1> Left Panel!!!!</h1>
            <button class="button" id="but">Create chat</button>
            <button class="button" id="but2">Create chat</button>
            <button class="button">Create chat</button>
            <button class="button">Create chat</button>

        </div>

        <div id='content' class="content">
            {% block map %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}